@{
    ViewData["Title"] = "Home Page";
}
<!--creacion del carrucel-->
<!--Inicio del carrucel-->
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner" style=" height: 350px;  width: 100%;">
        <div class="carousel-item active">
            <img src="https://fastly.picsum.photos/id/152/3888/2592.jpg?hmac=M1xv1MzO9xjf5-tz1hGR9bQpNt973ANkqfEVDW0-WYU" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://fastly.picsum.photos/id/82/1500/997.jpg?hmac=VcdCqu9YiLpbCtr8YowUCSUD3-245TGekiXmtiMXotw" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://fastly.picsum.photos/id/106/2592/1728.jpg?hmac=E1-3Hac5ffuCVwYwexdHImxbMFRsv83exZ2EhlYxkgY" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--Fin del carrucel-->
<!--Se agregaron imagenes y texto-->
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Arreglos<span class="text-muted"> Florales</span></h2>
        <p class="lead">
            Lo mejor que puedes encontrar y la mejorvariedada de arreglos florales.
            Regalalas en un dia especial, para un ser querido, en su cumpleaño o cualquier celebracion.
        </p>
    </div>
    <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://floresnicte.com.mx/wp-content/uploads/2018/10/NC-069.1.png"></img>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Dia del amor<span class="text-muted"> y la amistad</span></h2>
        <p class="lead">El mejor regalo que le podras dar a un amigo o amiga, a tu persona especial o a tu pareja , para alegrarles su dia.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://floresnicte.com.mx/wp-content/uploads/2018/10/Arreglo-floral-de-rosas-y-orquideas-3.png"></img>

    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Dia de<span class="text-muted"> las madres</span></h2>
        <p class="lead">El mejor regalo para tu madreen una fecha tan especial, en agradecimiento de darte la vida y cuidarte sobre todas las cosas.</p>
    </div>
    <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://sonflores.com/wp-content/uploads/2022/08/NC-091.1.png"></img>
    </div>
</div>

<hr class="featurette-divider">
<!--fin del contenido-->



