<!--Nombre: Privacy.cshtml-->
<!--Fecha de creacion: 08/02/22-->
<!--Creador: Floriceli Gonzalez Ruiz-->
<!--Descripcion: home index-->

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
